*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    width: 30vw;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    padding: 12px;
    box-shadow: 0px 0px 12px black;
}

.sombraAzul{
    box-shadow: 0px 0px 12px rgb(4, 70, 131);
}

.sombraVermelha{
    box-shadow: 0px 0px 12px rgb(150, 6, 6);
} 